@import url('https://fonts.googleapis.com/css2?family=DM Sans:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Sans',sans-serif;
}
::selection{
  color: #000;
  background: #fff;
}

/*TOP NAV*/

.topnav {
  overflow: visible;
  background-color: #000000;
  width: 100%;
  position: fixed;
  display: flex;
  border: none;
  outline: none;
  margin: 0;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.topnav a {
  float: center;
  color: #ffd63e;
  text-align: center;
  padding: 0.75vw 1vw;
  text-decoration: none;
  border: none;
  outline: none;
  margin: 0;
  font-size: 1.5vw;
  font-weight: bold;
  transition: .5s ease;
}
 
 .topnav a:hover {
    opacity: 0.5;
}

/*PROJECTS*/

.contentpage{
  position: absolute;
  top: 5vw;
  left: 22.5%;
  width: 55%;
  margin: auto;
  justify-content:center;
  padding-bottom: 10vw;
}

.contentpage h1{
  color: #ffd63e;
  font-size: 2vw;
  font-weight: bold;
  text-align: center;
  margin-top: 2vw;
  margin-bottom: 3vw;
}

.contentpage h2{
  color: #ffd63e;
  text-align: center;
  font-size: 2vw;
  font-weight: bold;
}

.contentpage h3{
  color: #ffffff;
  text-align: center;
  font-size: 0.75vw;
  font-weight: normal;
  padding-bottom: 0.5vw;
}

.contentpage .text{
  color: #ffffff;
  font-size: 1vw;
  text-align: justify;
}
 
.contentpage a {
    font-weight: bold;
	text-decoration: none;
	color: #ffd63e;
	transition: .5s ease;
}

.contentpage a:hover {
    opacity: 0.5;
}

.highlight{
	position: relative;
	width: 100%;
	height: 100%;
	margin-bottom: 3vw;
	justify-content: center;	
}

.highlight img{
	display: block;
	width: 100%;
	height: auto;
}


.highlight .info{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: #000000;
}

.highlight:hover .info{
	opacity: 1;
}

 
.contentpage .row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  width: 100%;
  padding-top: 1vw;
}

.contentpage .column {
  float: left;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.contentpage .column img {
  cursor: pointer;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: .5s ease;
}

.contentpage .column img:hover {
   opacity: 0.5;
}

.contentpage ul{
  list-style-type: none;
  color: #ffffff;
}

.contentpage tr{
  font-weight: normal;
}

.contentpage th{
  font-weight: normal;
  width: 25%;
  vertical-align: top;
}

.contentpage table{
  width: 60%;
  margin: auto;
  justify-content:center;
  text-align: center;
  color: #ffffff;
  font-weight: normal;
}


/* CENTER */

.center{
  position: absolute;
  top: 5vw;
  left: 22.5%;
  width: 55%;
  margin: auto;
  justify-content:center;
  text-align: center;
  padding-bottom: 10vw;
}

.center h1{
  color: #ffd63e;
  font-size: 5vw;
  font-weight: bold;
  padding-top: 2vw;
}

.center h2{
  color: #ffffff;
  font-size: 2vw;
  font-weight: normal;
}

.center h3{
  color: #ffd63e;
  font-size: 2vw;
  font-weight: bold;
  padding: 1vw 0vw;
}

.center .text{
  color: #ffffff;
  font-size: 1vw;
  text-align: justify;
}

 .center a {
	color: #ffd63e;
	font-size: 1vw;
    font-weight: bold;
	text-decoration: none;
	text-align: center;
	transition: .5s ease;
}

.center a:hover {
   opacity: 0.5;
}

.center .container {
	align-items: center;
	justify-content: center;
	display: flex;
	flex-wrap: column;
	gap: 1.5vw;
	padding-top: 5vw;
}

.center .container .hithere{
	width: 60%;
}

.center .container .whoami{
	width: 40%;
	position: relative;
}

.center .container .whoami img{
	display: block;
	width: 100%;
}

.center .container .whoami .young{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: .5s ease;
	background-image: url(../img/young.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
}

.center .container .whoami:hover .young{
	opacity: 1;
}

.center .container .skills{
	width: 25%;
}



/* FOOTER */

.footer {
   position: fixed;
   color: white;
   text-align: center;
   display: flex;
   color: #888888;
   background-color: #000000;
   font-size: 0.75vw;
   font-weight: bold;
   justify-content: center;
   bottom: 0;
   overflow: visible;
   width: 100%;
   padding: 1vw;
   z-index: 10;
}