@import url('https://fonts.googleapis.com/css2?family=DM Sans:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Sans',sans-serif;
}
::selection{
  color: #000;
  background: #fff;
}

.topnav {
  overflow: visible;
  background-color: #000000;
  width: 100%;
  position: fixed;
  display: flex;
  border: none;
  outline: none;
  margin: 0;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.topnav a {
  float: center;
  color: #ffd63e;
  text-align: center;
  padding: 0.75vw 2.5vw;
  text-decoration: none;
  border: none;
  outline: none;
  margin: 0;
  font-size: 1.6vw;
  font-weight: 600;
}

@media only screen and (min-width: 800) and (max-width: 1200) {
  .topnav a {
    font-size: 1.6vw;
	padding: 0.75vw 2.5vw;
  }
}

@media only screen and (max-width: 800px) {
  .topnav a {
    font-size: 4vw;
	padding: 1.5vw 3vw;
  }
 }
 
 .topnav a:hover {
    opacity: 0.5;
}

.img{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
  opacity: 1;
  position: relative;
}

.img::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.contentpage{
  position: absolute;
  top: 5vw;
  left: 22.5%;
  width: 55%;
  margin: auto;
  justify-content:center;
}

@media only screen and (min-width: 800) and (max-width: 1200) {
  .contentpage {
    width: 55%;
	left: 22.5%;
	top: 5vw;
  }
}

@media only screen and (max-width: 800px) {
  .contentpage {
    width: 80%;
    left: 10%;
	top: 10vw;
  }
 }

.contentpage .title{
  color: #ffd63e;
  font-size: 3vw;
  font-weight: 600;
}

@media only screen and (min-width: 800) and (max-width: 1200) {
  .contentpage .title {
    font-size: 3vw;
  }
}

@media only screen and (max-width: 800px) {
  .contentpage .title {
    font-size: 8vw;
  }
 }


.contentpage .subtitle{
  color: #ffd63e;
  font-size: 1.5vw;
  font-weight: 600;
}

@media only screen and (min-width: 800) and (max-width: 1200) {
  .contentpage .subtitle {
    font-size: 1.5vw;
  }
}

@media only screen and (max-width: 800px) {
  .contentpage .subtitle {
    font-size: 4vw;
  }
 }

.contentpage .text{
  color: #ffffff;
  font-size: 1vw;
  text-align: justify;
  font-weight: 500;
}

@media only screen and (min-width: 800) and (max-width: 1200) {
  .contentpage .text {
    font-size: 1vw;
  }
}

@media only screen and (max-width: 800px) {
  .contentpage .text {
    font-size: 3vw;
  }
 }
 
.contentpage a:hover {
    opacity: 0.5;
}
 
 .contentpage .row {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* The grid: Four equal columns that floats next to each other */
.contentpage .column {
  float: left;
  width: 25%;
  padding: 0.5vw;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Style the images inside the grid */
.contentpage .column img {
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

/* Clear floats after the columns */
.contentpage .row:after {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  clear: both;
}

/* The expanding image container */
.contentpage .container {
  position: relative;
  display: none;
}

/* Closable button inside the expanded image */
.contentpage .closebtn {
  position: absolute;
  top: 0vw;
  right: 1vw;
  color: white;
  font-size: 4vw;
  cursor: pointer;
  z-index: 1;
}

@media only screen and (min-width: 800) and (max-width: 1200) {
  .contentpage .closebtn {
    font-size: 4vw;
  }
}

@media only screen and (max-width: 800px) {
  .contentpage .closebtn {
    font-size: 8vw;
  }
 }

.contentpage .closebtn:hover {
  opacity: 0.5;
}

.contentpage ul{
  list-style-type: square;
  color: #ffffff;
}

.contentpage tr,th{
  padding: 0 1vw;
}

.contentpage table{
  left: 22.5%;
  width: 60%;
  margin: auto;
  justify-content:center;
  text-align: center;
  color: #ffffff;
}

@media only screen and (min-width: 800) and (max-width: 1200) {
  .contentpage table{
    width: 60%;
	left: 22.5%;
  }
}

@media only screen and (max-width: 800px) {
  .contentpage table{
    width: 100%;
    left: 10%;
  }
 }

.contentpage .videocontainer{
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    width: 100%;
}

.contentpage iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.center{
  position: absolute;
  top: 5vw;
  left: 22.5%;
  width: 55%;
  margin: auto;
  justify-content:center;
  text-align: center;
}

@media only screen and (min-width: 800) and (max-width: 1200) {
  .center {
    width: 55%;
	left: 22.5%;
	top: 5vw;
  }
}

@media only screen and (max-width: 800px) {
  .center {
    width: 80%;
    left: 10%;
	top: 10vw;
  }
 }

.center .title{
  color: #ffd63e;
  font-size: 5vw;
  font-weight: 600;
}

@media only screen and (min-width: 800) and (max-width: 1200) {
  .center .title {
    font-size: 5vw;
  }
}

@media only screen and (max-width: 800px) {
  .center .title {
    font-size: 12vw;
  }
}
 
.center .sub_title{
  color: #ffffff;
  font-size: 2vw;
  font-weight: 600;
}

@media only screen and (min-width: 800) and (max-width: 1200) {
  .center .sub_title {
    font-size: 2vw;
  }
}

@media only screen and (max-width: 800px) {
  .center .sub_title {
    font-size: 4.8vw;
  }
}

.center img{
	position: relative;
	width: 30%;
}

@media only screen and (min-width: 800) and (max-width: 1200) {
  .center img {
    width: 30%;
  }
}

@media only screen and (max-width: 800px) {
  .center img {
    width: 50%;
  }
}

.center a:hover {
    opacity: 0.5;
}
 
 .center .row {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* The grid: Four equal columns that floats next to each other */
.center .column {
  float: left;
  width: 25%;
  padding: 0.5vw;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Style the images inside the grid */
.center .column img {
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

/* Clear floats after the columns */
.center .row:after {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  clear: both;
}

.footer {
   position: fixed;
   color: white;
   text-align: center;
   display: flex;
   color: #ffffff;
   background-color: #000000;
   font-size: 0.75vw;
   font-weight: 500;
   justify-content: center;
   bottom: 0;
   overflow: visible;
   width: 100%;
   padding: 1vw;
   z-index: 10;
}

.footer a:hover {
    opacity: 0.5;
}

@media only screen and (min-width: 800) and (max-width: 1200) {
  .footer {
    font-size: 0.5vw;
  }
}

@media only screen and (max-width: 800px) {
  .footer {
    font-size: 2vw;
  }
}