@import url('https://fonts.googleapis.com/css2?family=DM Sans:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Sans',sans-serif;
}
::selection{
  color: #000;
  background: #fff;
}
nav{
  background: #000000;
  width: 100%;
  padding: 1vw 0;
  background-color:black;
}
nav .menu{
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu ul{
  display: inline-flex;
  background-color:black;
}
.menu ul li{
  list-style: none;
}
.menu ul li:first-child{
  margin-left: 0px;
}
.menu ul li a{
  text-decoration: none;
  color: #ffd63e;
  font-size: 2vw;
  font-weight: 500;
  padding: 1vw 2vw;
  transition: all 0.3s ease;
}
.menu ul li a:hover{
  background: #ffd63e;
  color: #000000;
}
.img{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
  opacity: 0.75;
  position: relative;
}
.img::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.contentpage{
  position: absolute;
  top: 15%;
  width: 100%;
  padding: 0 5vw;
  text-align: left;
}

.contentpage .title{
  color: #ffd63e;
  font-size: 4vw;
  font-weight: 600;
}

.contentpage .subtitle{
  color: #ffd63e;
  font-size: 2vw;
  font-weight: 600;
}

.contentpage .text{
  color: #ffffff;
  font-size: 1vw;
  font-weight: 600;
  text-align: justify;
}

.center{
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 20px;
  text-align: center;
}
.center .title{
  color: #ffd63e;
  font-size: 5vw;
  font-weight: 600;
}
.center .sub_title{
  color: #ffffff;
  font-size: 5vw;
  font-weight: 600;
}

/*#SLIDE_BG {
	width: 100%;
	height: 100vh;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	backface-visibility: hidden;
	animation: slideBg 15s linear infinite 0s;
	animation-timing-function: ease-in-out;
	background-image: url('../img/WAVA/Moon_2.png');
}

@keyframes slideBg {
	0% {
		background-image: url('../img/WAVA/Moon_2.png');
	}
	
	25% {
		background-image: url('../img/WAVA/Gloom_Walk.png');
	}
	
	50% {
		background-image: url('../img/WAVA/Rain_Uphill.png');
	}
	
	75% {
		background-image: url('../img/WAVA/Rain_Sunken.png');
	}
	
	100% {
		background-image: url('../img/WAVA/Breeze_Run.png');
	}
}*/
